.contact.svelte-1qr8a2y.svelte-1qr8a2y.svelte-1qr8a2y {
  display: flex;
  margin-bottom: 6rem;
}
.contact.svelte-1qr8a2y > div.svelte-1qr8a2y.svelte-1qr8a2y {
  width: 50%;
}
.contact.svelte-1qr8a2y .contact__info.svelte-1qr8a2y.svelte-1qr8a2y {
  width: 25rem;
  margin: 5rem auto;
}

.headerImage1 {
  width: 100%;
}

.list-item--description {
  text-align: justify;
  border: none;
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 0.0001pt;
}

.body-text--list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10%;
}

.text-container {
  width: 70vh;
  margin: 5rem auto;
}

.form-wrapper {
  text-align: center;
  padding: 6em;
  margin: 6.5em 0;
  border-radius: 15px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.16);
  background-color: white;
}

.form-wrapper h1 {
  font-size: 30px;
  color: #06c;
}

.form-wrapper p {
  font-size: 20px;
  color: #7f889c;
}
.grid {
  display: grid;
  grid-template-columns: 400px;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3rem;
  margin-top: 40px;
  font-size: 1.4em;
}
.field input {
  font-size: 1.15rem;
  line-height: 48px;
  padding: 0 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: #fcfcfd;
}
.field input::placeholder {
  font-family: inherit;
  opacity: 0.5;
}

.btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  background: var(--secondary);
  line-height: 48px;
  font-family: inherit;
  font-size: inherit;
}
.btn-primary {
  background: #06c;
  color: #fcfcfd;
  font-size: 1.4em;
  width: 70%;
}

@media (max-width: 767px) {
  .contact.svelte-1qr8a2y.svelte-1qr8a2y.svelte-1qr8a2y {
    flex-wrap: wrap;
  }
  .contact.svelte-1qr8a2y > div.svelte-1qr8a2y.svelte-1qr8a2y {
    width: 100%;
  }
}
.contact-maps.svelte-1qr8a2y.svelte-1qr8a2y.svelte-1qr8a2y {
  display: flex;
}
.contact-maps.svelte-1qr8a2y > div.svelte-1qr8a2y.svelte-1qr8a2y {
  width: 50%;
}
.contact-maps.svelte-1qr8a2y > div.svelte-1qr8a2y + div.svelte-1qr8a2y {
  margin-left: 5rem;
}
.contact-maps.svelte-1qr8a2y > div h3.svelte-1qr8a2y.svelte-1qr8a2y {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 3rem;
}
.contact-maps.svelte-1qr8a2y > div h3.svelte-1qr8a2y svg {
  width: 5rem;
  height: 5rem;
  stroke: #06c;
}
.contact-maps.svelte-1qr8a2y > div iframe.svelte-1qr8a2y.svelte-1qr8a2y {
  width: 100%;
  height: 300px;
}
@media (max-width: 767px) {
  .contact-maps.svelte-1qr8a2y.svelte-1qr8a2y.svelte-1qr8a2y {
    flex-wrap: wrap;
  }
  .contact-maps.svelte-1qr8a2y > div.svelte-1qr8a2y.svelte-1qr8a2y {
    width: 100%;
    margin-bottom: 5rem;
  }
  .contact-maps.svelte-1qr8a2y > div.svelte-1qr8a2y + div.svelte-1qr8a2y {
    margin-left: 0;
  }
}
